.pinterest_logo{
    text-align: center;
    margin: 2rem 0;
}

.pinterest_header_logo{
    font-family: 'Monoton', cursive;
}

.pinterest_footer_logo{
    font-family: 'Just Another Hand', cursive;
}

.pinterest_footer_button{
    font-size: .9rem; /*1rem=16px*/
}

@media screen and (max-width: 500px){
    html{
        font-size: 13px;
    }
}


